# Iris 다중회귀<br>
- sl, sw, pl, pw class = 분류
- class, sl, sw, pw 로 petal length 구하기 = 회귀
- 다중회귀
- pl = \[w1, w2, w3, w4] \[C, sl, sw, pl].T + bias
- test_size = 0.2, sl = ?, sw = ?, pw = ?

In [22]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [57]:
from sklearn.datasets import load_iris
iris = load_iris()

In [58]:
df = pd.DataFrame(iris.data, columns = iris.feature_names)
df['Class'] = iris.target
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Class
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   Class              150 non-null    int32
dtypes: float64(4), int32(1)
memory usage: 5.4 KB

### Petal Length 회귀

In [73]:
list(df.columns).remove('sepal length (cm)')

In [61]:
""" 나중에 반복문으로 처리할 때 
for feature in df.columns:
    target = feature
    y = df.target
    features = list(df.columns).remove(target)
    X = df[features]

하면 한 번에 다 처리 가능
"""
X = df.iloc[:,[0,1,3,4]].values
y = df.iloc[:,2].values

In [62]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
   X, y, test_size=0.2, random_state=2021
)

회귀 모델

In [63]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
lr = LinearRegression()
lr.fit(X_train, y_train)
pred = lr.predict(X_test)
mse = mean_squared_error(y_test, pred)
r2 = r2_score(y_test, pred)
print(f'MSE: {mse:.2f}, RMSE: {np.sqrt(mse):.2f}, R_squared: {r2:.4f}')

MSE: 0.10, RMSE: 0.31, R_squared: 0.9682

In [64]:
print('계수: ', lr.coef_)

계수:  [ 0.68227323 -0.51925158  1.11668415  0.37500635]

In [65]:
print('y절편: ',lr.intercept_)

y절편:  -0.36699949396033116

pl = -0.09sl - 0.05pw + 0.19pw + 0.66class + 0.21

cross_val_score로 pl 교차 검증

In [66]:
from sklearn.model_selection import cross_val_score
lr = LinearRegression()
# 5 폴드 세트로 MSE를 구함
neg_maen_score = cross_val_score(lr, X, y, scoring='neg_mean_squared_error', cv=5)
rmse_scores = np.sqrt(-neg_maen_score)
avg_rmse = np.average(rmse_scores)

print('개별 MSE:', np.round(neg_maen_score,2))
print('개별 RMSE:', np.round(rmse_scores,2))
print(f'평균 RMSE: {avg_rmse:.4f}')

개별 MSE: [-0.06 -0.08 -0.14 -0.1  -0.21]
개별 RMSE: [0.25 0.28 0.38 0.32 0.46]
평균 RMSE: 0.3387